body {
    background-color: skyblue;
    color: blue;
    margin: 0;
    padding: 0;
}
.date{
    font-weight: bold;
    text-align: center;
    color:brown;
    font-size: larger;
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
